$SoftCyan: #a5f3eb;
$StrongCyan: #10d5c2;
$LightGrayishRed: #feece7;
$LightRed: #ff8c66;
$PaleBlue: #bdccff;
$White: #ffffff;
$VeryPaleBlue: #fafbff;
$LightGrayishBlue: #eaeefb;
$GrayishBlue: #858fad;
$DarkDesaturatedBlue: #293356;