@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

@mixin flex($display, $align-items, $justify-items, $flex-direction) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-items;
  flex-direction: $flex-direction;
}

@mixin font($font-weight, $font-size, $line-height, $letter-spacing, $color) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: $VeryPaleBlue;
  font-size: 15px;
  @include flex(flex, center, center, column);
  background: url('../../images/bg-pattern.svg') no-repeat;
  background-size: 100% 50vmin;

  main {
    @include flex(flex, center, center, column);
    gap: 85px;


    article {
      width: 100%;
      max-width: 395px;
      height: 145px;
      background: url('../../images/pattern-circles.svg') center no-repeat;

      @include flex(flex, center, center, column);
      gap: 12px;

      h1 {
        @include font(800, 28px, 38px, unset, $DarkDesaturatedBlue);
      }

      p {
        @include font(600, 15px, 20px, unset, $GrayishBlue);
      }
    }

    .pricing-component {
      width: 540px;
      height: 397px;
      background: $White;
      box-shadow: 0px 20px 30px -5px #7f89b927;
      border-radius: 8px;

      .infos {
        padding: 40px 46px;
        @include flex(flex, center, space-between, row);

        .views {
          p {
            @include font(800, 14px, 19px, 2px, $GrayishBlue);
            text-align: center;
            text-transform: uppercase;
          }
        }

        .price {
          p {
            @include font(600, 16px, 22px, unset, $GrayishBlue);
            text-align: center;
            display: flex;
            align-items: center;
            gap: 8px;

            span {
              @include font(800, 40px, 55px, -1px, $DarkDesaturatedBlue);
              text-align: right;
            }
          }
        }
      }

      .input {
        width: 100%;
        padding: 0px 46px;
        @include flex(flex, center, center, column);

        input[type=range] {
          all: unset;
          -webkit-appearance: none;
          appearance: none;
          display: inline-block;
          width: 100%;
          background-color: #ECF0FB;

        }
        input[type=range]::-webkit-slider-thumb,
        input[type=range]::-moz-range-thumb,
        input[type=range]::-ms-range-thumb {
          width: 100px;
          height: 70px;
          all: unset;
          -webkit-appearance: none;
          appearance: none;
          border: 1px solid transparent;
          background-color: $StrongCyan;
          background-image: url('../../images/icon-slider.svg');
        }
      }

      .billing {
        @include flex(flex, center, end, row);
        padding: 40px 46px 42px 46px;
        gap: 10px;

        p {
          @include font(600, 12px, 16px, unset, $GrayishBlue);
          margin: 0;

          .discount {
            @include font(800, 10px, 14px, unset, $LightRed);
            background: $LightGrayishRed;
            border-radius: 9.5px;
            padding: 4.2px 9px;
            margin-left: 6px;
          }
        }

        .form-check {
          padding: 0;

          .form-check-input {
            background-color: #CFD8EF;
            width: 43px;
            height: 22px;
            border: 1px solid transparent;
            box-shadow: unset;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
            margin: 0;

            &:checked {
              background-color: $StrongCyan;
            }
          }
        }
      }

      .details {
        border-top: 1px solid #ECF0FB;
        @include flex(flex, center, space-between, row);
        padding: 33px 46px;

        ul {
          @include flex(flex, unset, unset, column);
          gap: 14px;

          li {
            @include flex(flex, center, flex-start, row);
            gap: 16px;

            p {
              @include font(600, 12px, 16px, unset, $GrayishBlue);
            }
          }
        }

        button {
          @include font(800, 12px, 16px, unset, $PaleBlue);
          border-radius: 20.5px;
          background-color: $DarkDesaturatedBlue;
          max-width: 170px;
          height: 47px;
          width: 100%;
          border: 1px solid transparent;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .pricing-component {
    width: 100% !important;
  }
}