@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

@mixin flex($display, $align-items, $justify-items, $flex-direction) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-items;
  flex-direction: $flex-direction;
}

@mixin font($font-weight, $font-size, $line-height, $letter-spacing, $color) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

@media (max-width: 550px) {
  .pricing-component {
    width: 100% !important;
  }
}