@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
body {
  font-family: "Manrope", sans-serif;
  background-color: #fafbff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../../images/bg-pattern.svg") no-repeat;
  background-size: 100% 50vmin;
}
body main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 85px;
}
body main article {
  width: 100%;
  max-width: 395px;
  height: 145px;
  background: url("../../images/pattern-circles.svg") center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
body main article h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: unset;
  color: #293356;
}
body main article p {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: unset;
  color: #858fad;
}
body main .pricing-component {
  width: 540px;
  height: 397px;
  background: #ffffff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.1529411765);
  border-radius: 8px;
}
body main .pricing-component .infos {
  padding: 40px 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
body main .pricing-component .infos .views p {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #858fad;
  text-align: center;
  text-transform: uppercase;
}
body main .pricing-component .infos .price p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: unset;
  color: #858fad;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
}
body main .pricing-component .infos .price p span {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #293356;
  text-align: right;
}
body main .pricing-component .input {
  width: 100%;
  padding: 0px 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .pricing-component .input input {
  width: 100%;
}
body main .pricing-component .billing {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  flex-direction: row;
  padding: 0px 46px;
}
body main .pricing-component .details {
  border-top: 1px solid rgba(63, 63, 63, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 46px;
}
body main .pricing-component .details ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
body main .pricing-component .details ul li p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: unset;
  color: #858fad;
}
body main .pricing-component .details button {
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: unset;
  color: #bdccff;
  border-radius: 20.5px;
  background-color: #293356;
  max-width: 170px;
  height: 47px;
  width: 100%;
  border: 1px solid transparent;
}

@media (max-width: 550px) {
  .pricing-component {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
